repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.1.0
  hooks:
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace
- repo: https://github.com/psf/black
  rev: 21.12b0
  hooks:
    - id: black
      args: [--line-length=80]
- repo: https://github.com/pycqa/isort
  rev: 5.10.1
  hooks:
    - id: isort
      args: ["--profile", "black"]
      name: isort (python)
- repo: https://github.com/pycqa/pydocstyle
  rev: '6.1.1'
  hooks:
    - id: pydocstyle
      exclude: ^(grits/tests/|grits/compounds/|setup.py|docs/)
      args: [--convention=numpy]
