name: grits-dev
channels:
  - conda-forge
dependencies:
  - cmeutils >=1.3.0
  - ele
  - freud >=3.4
  - gsd >=3.0
  - jupyterlab
  - mbuild >=1.0
  - ele
  - numpy >=2.0
  - openbabel
  - pip
  - pre-commit
  - py3Dmol
  - pytest
  - pytest-cov
  - python >=3.10, <3.13
