name: grits
channels:
  - conda-forge
dependencies:
  - cmeutils >=1.3.0
  - ele
  - freud >=3.4
  - gsd >=3.0
  - jupyterlab
  - mbuild >=1.0
  - ele
  - numpy >=2.0
  - openbabel
  - pip
  - py3Dmol
  - python >=3.10, <3.13
