name: pytest

on:
  push:
    branches: [ main ]
    paths:
      - grits/**
      - environment-dev.yml
      - .github/workflows/pytest.yml
  pull_request:
    branches: [ main ]
    paths:
      - grits/**
      - environment-dev.yml
      - .github/workflows/pytest.yml
  issue_comment:
    types: [created]
    branches: [ main ]
    paths:
      - grits/**
      - environment-dev.yml
      - .github/workflows/pytest.yml

  workflow_dispatch:

jobs:
  pytest:
    if: github.event.pull_request.draft == false
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-latest]
        python-version: ['3.10', '3.11', '3.12']

    runs-on: ${{ matrix.os }}

    steps:
    - name: Check out repository
      uses: actions/checkout@v4

    - name: Build environment
      uses: mamba-org/setup-micromamba@v2
      with:
        cache-environment: false
        post-cleanup: 'all'
        environment-file: environment-dev.yml
        create-args: >-
          python=${{ matrix.python-version }}

    - name: Install package
      shell: bash -l {0}
      run: pip install .

    - name: Run pytest with coverage report
      shell: bash -l {0}
      run: python -m pytest -rs -v --cov=./ --cov-report=xml

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        file: ./coverage.xml
